---
---

@import url(//fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700|Source+Code+Pro);

$background: #ffffff;
$dark-background: rgba(45, 45, 45, .9);
$body-color: rgba(0, 0, 0, .9);

@import "highlight";
@import "reset";

body {
  background-color: $background;
  color: $body-color;
  font-family: 'Open Sans', helvetica, arial;
  font-size: 1.2em;
}

// header
header {
  &:after {
    display: block;
    width: 50%;
    content: '';
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 25px;
    border-bottom: 1px solid rgba(220, 220, 220, 1);
  }
}

h1 {
  color: $body-color;
  font-size: 125px;
  text-align: center;
  margin: 20px 0;
  font-weight: 700;
}

.tagline {
  text-align: center;
  font-weight: 300;
  margin-bottom: 25px;

  strong {
    font-weight: 700;
  }
}

// links
a {
  color: rgba(250, 250, 250, .9);
  text-decoration: none;
  /*
  $transition: .3s color ease-in-out;
  transition: $transition;
  transition: $transition;
  -webkit-transition: $transition;
  -moz-transition: $transition;

  &:hover {
    color: rgba(250, 250, 250, .65);
  }
  */
}

// nav
nav {
  position: relative;
  top: 0;
  background: #f3f3f3;
  width: 100%;
  text-align: center;

  ul {
    li {
      display: inline-block;
      transition: .3s background ease;

      a {
        color: rgba(75, 75, 75, .75);
        font-size: 14px;
        font-weight: 700;
        padding: 18px 15px;
        display: block;
        $transition: .3s background ease-in-out;
        transition: $transition;
        -webkit-transition: $transition;
        -moz-transition: $transition;
      }

      &:hover {
        background: rgba(45, 45, 45, .55);
      }
    }
  }
}

// code
code {
  font-family: 'Source Code Pro', monospace, courier;
}

pre {
  font-size: 15px;
  line-height: 19px;
  margin: 0 10%;
  padding: 30px;
  background: $dark-background;
  overflow-x: scroll;
  border-radius: 10px;
}