#icon {
 float:left;
 padding-left:20px;
 padding-right:20px;
}
.intro {
  margin-top: 30px;
  margin-bottom: 30px;
}
.center {
  width: 100%;
  text-align: center;
}
.about {
  margin: 20px;
  padding: 20px;
}
#os-nav {
  width: 100%;
  display: table;
  margin-left: -15px;
  padding: 15px;
}
#os-nav li {
  list-style: none;
  display: table-cell;
  width: 33.33%;
}
.os {
  color: inherit;
  font-size: 75px;

  opacity: .8;
  transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}
.os:hover {
  opacity: 1;
  color: inherit;
}
.os-link {
  color: inherit;
}
.os-link:hover {
  text-decoration: none;
  color: inherit;
}
@media screen and (max-width: 480px) {
  .os {
    font-size: 40px;
  }
}
#tutorials{
  background: url('/img/sprite.png') no-repeat 0px -482px;
  width: 45px;
  height: 33px;
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
}
#blog{
  background: url('/img/sprite.png') no-repeat -1px -524px;
  width: 45px;
  height: 35px;
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
}
#contribute{
  background: url('/img/sprite.png') no-repeat -57px -515px;
  width: 48px;
  height: 44px;
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
}
#nobody{
  position: absolute;
  top: -50px;
  right: -10px;

  background: url('/img/sprite2.png') no-repeat -1px -52px;
  width: 429px;
  height: 178px;
  display: inline-block;
  vertical-align: middle;
}
#why{
  position: absolute;
  top: -40px;
  right: -180px;

  background: url('/img/why.png') no-repeat -1px -12px;
  width: 429px;
  height: 178px;
  display: inline-block;
  vertical-align: middle;
}
.downloads{
  position: relative;
}
#download{
  opacity: 0.8;
  position: absolute;
  top: -50px;
  right: -50px;
  background: url('/img/download.jpg') no-repeat;
  width: 425px;
  height: 200px;
  display: inline-block;
  vertical-align: middle;
  -webkit-box-shadow: 0 0 6px #CCC;
  -moz-box-shadow: 0 0 6px #CCC;
  box-shadow: 0 0 6px #CCC;
}
.downloads ul {
  list-style: none;
}
.arrow{
  opacity: 0.3;
  background: url('/img/arrow.jpg') no-repeat;
  float: left;
  width: 128px;
  height: 128px;
}
.arrow1{
  opacity: 0.8;
  background: url('/img/arrow.jpg') no-repeat;
  float: left;
  width: 128px;
  height: 128px;
}
#walk{
  background: url('/img/sprite2.png') no-repeat -52px -4px;
  width: 40px;
  height: 42px;
  display: inline-block;
  vertical-align: middle;
  margin: 2px;
}
#book{
  background: url('/img/sprite2.png') no-repeat 0 0;
  width: 44px;
  height: 48px;
  display: inline-block;
  vertical-align: middle;
  margin: 2px;
}
#manual{
  background: url('/img/sprite2.png') no-repeat -163px -1px;
  width: 62px;
  height: 48px;
  display: inline-block;
  vertical-align: middle;
  margin: 2px;
}
#rdocs{
  background: url('/img/sprite2.png') no-repeat -95px 0;
  width: 63px;
  height: 49px;
  display: inline-block;
  vertical-align: middle;
  margin: 2px;
}
.tut {
  position: relative;
}
#team {
  background: url('/img/team.jpg') no-repeat;
  border: 5px solid #eee;
  margin: 10px;
}
.headsupport {
  position: absolute;
  top: -40px;
  right: 0px;
}