html{
  background: fixed no-repeat center center url('/img/background.jpg');
}
body{
  background: none;
}
.main{
  background: #FFF;
  padding-bottom: 40px;
  border-radius: 0 0 6px 6px;
}
.navbar-inverse .navbar-brand{
  font-weight: bold;
  color: #ccc;
}
.navbar-inverse .navbar-brand:hover{
  color: #fff;
}
.intro{
  padding-top: 40px;
  padding-bottom: 40px;
}
img.logo{
  margin: 40px auto 0;
  display: block;
}
.intro h1{
  line-height: 1.2;
}
.center {
  width: 100%;
  text-align: center;
}
#os-nav {
  width: 100%;
  display: table;
  margin-left: -15px;
  padding: 15px;
}
#os-nav li {
  list-style: none;
  display: table-cell;
  width: 33.33%;
}
.os {
  color: inherit;
  font-size: 75px;

  opacity: .8;
  transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}
.os:hover {
  opacity: 1;
  color: inherit;
}
.os-link {
  color: inherit;
}
.os-link:hover {
  text-decoration: none;
  color: inherit;
}
@media screen and (max-width: 480px) {
  .os {
    font-size: 40px;
  }
}
#nobody{
  position: absolute;
  top: 0;
  right: -10px;

  background: url('/img/sprite2.png') no-repeat -1px -52px;
  width: 429px;
  height: 178px;
  display: inline-block;
  vertical-align: middle;
}
#why{
  position: absolute;
  top: 20px;
  right: 0;

  background: url('/img/why.png') no-repeat -1px -12px;
  width: 257px;
  height: 234px;
}
.downloads{
  position: relative;
}
#download{
  position: absolute;
  top: 0;
  right: -50px;
  background: url('/img/download.jpg') no-repeat;
  width: 425px;
  height: 200px;
  display: inline-block;
  vertical-align: middle;
}
.downloads ul {
  list-style: none;
}

.float-height-fix {
  clear : both;
}

#download-notes {
  font-style: italic;
}

#download-notes p,
#download-notes a {
  font-size: 10px;
}

.arrow{
  opacity: 0.3;
  background: url('/img/arrow.jpg') no-repeat;
  float: left;
  width: 128px;
  height: 128px;
}
.download-arrow.fa{
  color: #cde4a8;
  font-size: 110px;
}
.tut {
  position: relative;
}
#team {
  margin: 10px auto;
  display: block;
}
h2{
  margin-bottom: 0;
}
h2 i{
  color: #595959;
}
h1 i.fa-github{
  font-size: .75em;
}
img{
  max-width: 100%;
}
#walkthrough{
  padding: 70px 20px 20px;
}
@media only screen and (max-width: 767px){
  #download, #why, #nobody{
    display: none;
  }
}

.team-member img {
  width: 100px;
}

.team-member h4 {
  margin: 0;
  font-size: 100%;
}

.team-member p {
  margin: 0 0 20px 0;
  font-size: 95%;
  font-weight: normal;
}

.team-member {
  height: 170px;
  text-align: center;
}

.contribute {
  margin-top: 80px;
  background: rgba(0,0,0,0);
}

.logo {
    text-align: center;
}

.community h1 {
  text-align: center;
}

.community-spacing {
  margin-top: 30px;
  margin-bottom: 30px;
}