---
layout: default
title: Shoes!
permalink: /contribute/
---

<div id="contribute">
  <div class='jumbotron'>
    <h1>C<i class="fa fa-github"></i>ntribute</h1>
      <p>...and become a part of the Shoes Team!</p>

    <div id="team">
      <div class="row">
        {% for member in site.data.members %}
          <div class="col-xs-6 col-sm-2 team-member">
            <img src="{{ member.avatar_url }}">
            <h4><a href="{{ member.html_url }}" target="_blank">{{member.login}}</a></h4>
            <p>{{member.name}}</p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class='jumbotron'>
    <h1>Or!  C<i class="fa fa-github"></i>ntribute</h1>
    <p>...and become a part of the Shoes Community!</p>
    <div id="team">
      <div class="row">
        {% for user in site.data.community %}
          <div class="col-xs-6 col-sm-2 team-member">
            <img src="{{ user.avatar_url }}">
            <h4><a href="{{ user.html_url }}" target="_blank">{{user.login}}</a></h4>
            <p>{{user.name}}</p>
          </div>
        {% endfor %} 
      </div>
    </div>
  </div>
</div>

  <div class='row'>
    <div class="col-md-2">
      <img alt='shoes logo' src='/img/shoes-icon.png' class="logo" />
    </div>
    <div class="col-md-10">
      <div class="row">

        <div class='col-md-4'>
          <h2>Shoes 4</h2>
          <p>Shoes 4 is a complete re-write of shoes.</p>
          <a href='https://github.com/shoes/shoes4'>Shoes 4 on Github</a>
        </div>
        <div class='col-md-4'>
          <h2>Shoes 3.3</h2>
          <p>Shoes 3.3 is an extended version of Shoes 3</p>
          <a href='https://github.com/Shoes3/shoes3'>Shoes 3.3 on Github</a>
        </div>
        <div class='col-md-4'>
          <h2>Shoes</h2>
          <p>Original Shoes implementation.</p>
          <a href='https://github.com/shoes/shoes'>Shoes on Github</a>
        </div>
        <div class='col-md-4'>
          <h2>shoesrb.com</h2>
          <p>Got some web skills? Help improving this website.</p>
          <a href='https://github.com/shoes/shoesrb.com'>shoes.rb on Github</a>
        </div>
        <div class='col-md-4'>
          <h2>Mailing List</h2>
          <p> There is a new mailling list since the old one fell into the bit bucket!
          Sadly, you'll have to resubscribe and the archives will not be converted. 
          Discuss Shoes 3.x and Shoes 4, ask for help or pointers or just admire us. 
          <a href="http://lists.mvmanila.com/listinfo.cgi/shoes-mvmanila.com">Subscribe here.</a>
          </p>
          <p><del>Dead!Send a mail to <a href="mailto:shoes@librelist.com">shoes@librelist.com</a> to join.
          <a href='http://librelist.com/browser/shoes/'>Archives on Librelist</a></del></p>
        </div>
        <div class='col-md-4'></div>
          <h2>Facebook</h2>
          <p>We have a Facebook group.  Let people know what Shoes can do. Meet other Shoes people.
          Post some screen shots of your application. Perhaps a video? Commercial promotion is 
          fine with us as long as it's Shoes relevant. Have Fun!
          <a href='https://www.facebook.com/TinyGraphicsToolkit/'>Facebook</a>
          </p>
      </div>
    </div>
  </div>
</div>
