.row
  %h1 About
  %p
    Shoes is a cross-platform GUI Toolkit originally developed by the legendary _why.
    He isn't here anymore but Team Shoes is now is now taking care of Shoes.
  %p
    Shoes is aimed at simplicity and fun.
    It is different from most GUI toolkits out there.
    And Shoes really is for everyone so you can write your own GUI applications easily!
  %p
    If you want to see how simple Shoes is and learn more about it, go ahead and visit our
    %a{href: '/tutorials'} tutorials section
    to get started! You will find lots of material there that will help you on your journey to become a real master of Shoes!
  %p
    Wonder what kind of things you can build with Shoes?
    Well all kinds of things!
    However
    %a{href: 'hackety.com'} HacketyHack
    probably is the most famous Shoes application out there.
    It is aimed at teaching kids how to code! So go ahead and try it, because coding is fun!
  %p
    Intrigued? Go on and
    %a{href: '/downloads'} download
    your copy of Shoes!
  %p
    If you want to help us develop Shoes please have a look at our
    %a{href: '/contributions'} contributions
    page! That would be so cool, and a lot of fun!
