.hero-unit
  .tut
    .intro
      %h1 About
      %p Shoes is a GUI Toolkit originally developed by the legendary _why.
      #why

.row
  %p
  .span10.about
    :markdown

      ## History
      Way way back in the day, there was a guy named
      [_why](http://en.wikipedia.org/wiki/Why_the_lucky_stiff). He created a
      project known as [Hackety Hack](http://hackety-hack.com) to teach
      programming to everyone. In order to reach all corners of the earth,
      \_why decided to make Hackety Hack work on Windows, Mac OS X, and Linux.
      This was a lot of work, and so \_why decided to share his toolkit with
      the world. Thus, Shoes was born.

      Everybody loved Shoes. Many apps were made, and put into
      The Shoebox, which no longer exists. But, one day, \_why left.
      In his memory, Team Shoes assembled, and carried on making Shoes. They
      released Shoes 3 in late summer 2010.

      ## Shoes 4
      Shoes 4 is a total re-write of Shoes. It's being done in JRuby. There are
      a few related projects:

      ShoesSpec: An executable specification for Shoes implementations, so that
      others can co-exist. A few other Shoes projects exist already, and a
      unified interface will be great.

      Shoes-mocks: Sort of the opposite, a dummy
      set of Shoes that you can use to test applications written in Shoes.

      The website: A new website is being made as well. Help here would be just
      as awesome as work on Shoes itself.


