.hero-unit
  %h1 C
  %img{:src => "/img/github.png"}
  %h1 ntribute
  %p ...and become a part of the Shoes Team!
  %center
    %img{:src => "/img/team.jpg", :id => "team"}

.row
  %img{:src => "/img/shoes-icon.png", :alt => "shoes logo", :style => "float:left;padding-left:20px;padding-right:20px;margin:20px;"}/

  .span3
    %h2 Shoes 4
    %p Shoes 4 is a complete re-write of shoes.
    %a{:href => "https://github.com/shoes/shoes4"} Shoes 4 on Github

  .span3
    %h2 Shoes
    %p Original Shoes implementation.
    %a{:href => "https://github.com/shoes/shoes"} Shoes on Github

  .span3
    %h2 shoesrb.com
    %p Got some web skills? Help improving this website.
    %a{:href => "https://github.com/shoes/shoesrb.com"} shoes.rb on Github

  .span3
    %h2 Brown Shoes
    %p Another Ruby flavor of Shoes (it's brown).
    %a{:href => "https://github.com/shoes/brown_shoes"} Brown Shoes on Github

