.hero-unit
  .downloads
    %h1 Downloads
    %p Get your Shoes and Shoes Accessories Here.
    #download

.row
  .span5
    %h2 Shoes Accessories
    .arrow1
    #accessories

    %h3 App Wrappers
    %br
    %br
    %a{:href => "/downloads/shoes-app-template-0.0.1.zip"} OS X .app wrapper

  .span5
    %h2 Shoes
    .arrow
    #shoes

    %h3 Stay tuned...

