.hero-unit
  .downloads
    %h1 Downloads
    %p Get your Shoes and Shoes Accessories Here.
    #download

.row
  .span5.downloads
    %h2 Shoes
    .arrow1

    %ul
      %li
        %a{:href => "/downloads/shoes-3.1.0.run"} Shoes 3 for Linux
      %li
        %a{:href => "/downloads/shoes-3.1.0.dmg"} Shoes 3 for OS X
      %li
        %a{:href => "/downloads/shoes3.exe.zip"} Shoes 3 for Windows 
        
  .span5.downloads
    %h2 Shoes Accessories
    .arrow1

    %div
      %a{:href => "/downloads/shoes-app-template-0.0.1.zip"} OS X .app wrapper

