.hero-unit
  .downloads
    %h1 Downloads
    %p Get your Shoes and Shoes Accessories Here.

.row
  .span5
    %h2 Shoes
    #shoes

  .span5
    %h2 Shoes Accessories
    #accessories

    %h3 App Wrappers
    %ul
      %li
        %a{:href => "/downloads/shoes-app-template-0.0.1.zip"} OS X .app wrapper

