.hero-unit
  %h1 Get Help

.row
  .span5
    %h2 Help

    %ul
      %li
        %a{:href => "http://stackoverflow.com/questions/tagged/shoes"} Stackoverflow
      %li
        %a{:href => "http://librelist.com/browser/shoes"} Mailing List
        (send an email to
        %a{:href => "mailto:shoes@librelist.com"} shoes@librelist.com
        to join)
      %li
        %p IRC room on Freenode #shoes

  .span5
    %h2 Bugs/Feature Requests

    %ul
      %li
        %a{:href => "https://github.com/shoes/shoes/issues"} GitHub Issue tracker
