.hero-unit
  .intro
    %img{src: "/img/shoes-icon.png", alt: "shoes logo", id: "icon"}
    %h1 Shoes!

    %p
      Ever wanted to build a GUI? Annoyed that it's so much effort? Shoes
      makes building for Mac, Windows, and Linux <em>super</em> simple.
    %p
      %a.btn.btn-primary.btn-large{href: "/about"} Learn more »


  .center
    %img{src: "/img/screen.jpg" }
    #lion
    #mountain_lion
    #windows
    #ubuntu
    %p
      GUI Awesomeness across all major platforms!
      <em>Mac OS X</em>, <em>Linux</em> or <em>Windows</em>.
      Shoes loves them all.

.row

  .span3
    %h2 Tutorials
    #tutorials
    %p
      New to Shoes? Great! There are tons of resources available to get
      you started with Shoes.
    %p
      %a.btn{href: "/tutorials"} Read More »

  .span3
    %h2 Blog
    #blog
    %p
      Keep up with the latest developments, see what
      other people are building, and hear about new features as we build
      them!
    %p
      %a.btn{href: "/blog"} Check it out »

  .span3
    %h2 Contribute
    #contribute
    %p
      Want to contribute? Fantastic! The Shoes Team is always looking
      for motivated contributers. Help us make Shoes even better.
    %p
      %a.btn{href: "/contribute"} See our team »
