.hero-unit
  %img{:src => "/img/shoes-icon.png", :alt => "shoes logo", :style => "float:left;padding-left:20px;padding-right:20px"}/
  %h1 Shoes!
  %p
    Ever wanted to build a GUI? Annoyed that it's so much effort? Shoes
    makes building for Mac, Windows, and Linux <em>super</em> simple.
  %p
    %a.btn.btn-primary.btn-large{:href => "/about"} Learn more »
/ Example row of columns
.row
  .span4
    %h2 About
    %p
      Basically, making desktop applications is really annoying. There's
      so many details to take care of, and you'd really rather just be
      building your application. Shoes handles doing all of the
      cross-platform stuff for you, and gives you native widgets on each
      platform.
    %p
      %a.btn{:href => "/about"} Read More »
  .span4
    %h2 Manual
    %p
      If you're already using Shoes, you'll probably need to look things
      up from time to time. There's a manual in Shoes already, but if
      you prefer to look things up on the web, we've also provided a
      manual for you as well.
    %p
      %a.btn{:href => "/manual/Hello.html"} Check it out »
  .span4
    %h2 Blog
    %p
      We're going to write from time to time about what's new in
      Shoes-land. It's not quite ready yet, but we'll be unveilling it
      in the near future. Keep up with the latest developments, see what
      other people are building, and hear about new features as we build
      them!
    %p
      %a.btn{:href => "#"} Coming soon!
