.hero-unit
  .tut
    %h1 Tutorials
    %p All The Resources For Shoes Developers.
    #nobody

.row
  .span5
    %h2 The Walkthrough
    #walk
    %p The quickest way to get started with Shoes.
    %a{:href => "https://github.com/ashbb/shoes_tutorial_walkthrough"} Click here.

  .span5
    %h2 The Manual
    #manual
    %p We all have to look something up from time to time.
    %a{:href => "/manual/Hello.html"} Click here.

  .span5
    %h2 The Book
    #book
    %p "Nobody Knows Shoes" by _why.
    %a{:href => "http://cloud.github.com/downloads/shoes/shoes/nks.pdf"} Click here.

  .span5
    %h2 The RDocs
    #rdocs
    %p Thorough technical documentation.
    %a{:href => "http://rdoc.info/github/why/shoes"} Click here.

  .span5
    %h2 The Wiki
    %p Ideas and documentation on Github.
    %a{:href => "https://github.com/shoes/shoes/wiki"} Click here.

